.absolute-on-mid {
  position: relative;

  @media (min-width: 800px) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.flex-row-on-mid {
  @media (min-width: 800px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
